body {
    height: 100vh;
    background: linear-gradient( #DFEBB7, #fef0c3, #c6e3ad)
}

.btn-red{
    background-color: red;
}

.button {
    background-color: #444444de;
    color: whitesmoke;
    padding: 5px;
    border-radius: 7px;
}

.button:hover {
    background: #2C3334;
    color: #fff;
}

.button2 {
    background: #EEEDE7;
    color: #2C3334;
    border-color: #868B8E;
    border-radius: 6px;
    padding: auto;
}


.button3 {
    background: #EEEDE7;
    color: #2C3334;
    outline-color: #868B8E;
    border-radius: 6px;
    padding: auto;
}

.modal-header{
    background: #2C3334;
    color: #fff;
}

.modal-body {
    background: #2f353618;
}

.btn-primary {
    background: #444444de;
    color: #fff;
    outline-color: 0;
    border-color:#747566 ;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #0A0708;
    color: #fff;
    border-color: #0a0708d2;
}

button:hover{
    opacity: 0.8;
}

button:disabled{
    visibility: hidden;
}